$iconTable: 'table';
$iconCards: 'cards';
.main-table {
    position: relative;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.table-button-switch{
    align-self: flex-end;
    margin-bottom: 25px;
    margin-right: 20px;

}
@mixin table-button-switch {
    font-size: 10px;
    padding: 8px 25px;
    border: 0.5px solid rgb(151, 151, 151);
    background-color: rgb(228, 227, 232);
    box-shadow: 0px 1px 6px rgb(74, 74, 74);
    background-repeat: no-repeat;
    background-position: center;
}

@mixin table-button-switch-active {
    background: #9f9f9f;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}


.table-button-switch-left {
    @include table-button-switch;
    border-radius: 20px 0px 0px 20px;
    background-image: url('../../images/icons/#{$iconTable}.svg');
}

.left-active {
    @include table-button-switch-active;
    background-image: url('../../images/icons/#{$iconTable}.svg');
}

.table-button-switch-right {
    @include table-button-switch;
    border-radius: 0px 20px 20px 0px;
    background-image: url('../../images/icons/#{$iconCards}.svg');
    
}

.right-active {
    @include table-button-switch-active;
    background-image: url('../../images/icons/#{$iconCards}.svg');
}


.table-indicators {
    border-bottom: 1px  solid rgb(173, 173, 173);
    border-collapse: collapse;
    border-spacing: 0px;  
    margin: 0 15px;  
}

.table-indicators-table-head { 
    th {
        color:rgb(84, 84, 84);
        font-weight: 700;
        padding: 8px 20px;
        background-color:  rgb(228, 227, 232); 
        border-bottom: 1.5px solid rgb(202, 202, 202);
    }
        
}

.table-indicators-table-body {
    td {
        color:rgb(65, 65, 65);
        text-align: center;
        padding: 8px 20px;
        border-bottom: 1px solid rgb(202, 202, 202);
    }
}
.tableData-error {
    font-size: larger;
    font-weight: 900;
    text-align: center;
    line-height: 5;
    height: 100px;
    color: red;
    background-color: rgb(246, 175, 174);
    margin: 0 15px; 
    opacity: 0.8;
}

// Table end 

.cards-wrapper {
    display: flex;
    justify-content: space-between;
}
.card-indicator {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}