 $icons: 'indicators','map','history','events','documents','settings','dataBase';
 $widthButton: 30px;

.leftPanel-direction {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    height: 100vh;
    font-size: medium;
    overflow: hidden;
}


.leftPanel-direction__list {
    padding-top: 25px;
}

.leftPanel-list__item {
    position: relative;
    padding: 15px 20px 15px 80px;
    color: #fff;
    
}

.leftPanel-list__item:hover {
        background-color: rgb(106, 96, 133);
        opacity: 0.8;
        border-radius: 5px;
        
}

@each $icon in $icons {
    .icon-#{$icon}::before {
        content: '';
        position: absolute;
        height: 25px;
        width: 25px;
        top: 10px;
        left: 30px;
        background: url('../../images/icons/#{$icon}.svg') no-repeat;
    }
}


.leftPanel-list__item_empty {
    position: relative;
    padding: 24.4px 20px 24px ;
}

.leftPanel-list__item_empty:hover{
    background-color: rgb(106, 96, 133);
    opacity: 0.8;
    border-radius: 5px;
}

.left-panel__button {
    position: absolute;
    bottom: 30px;
    right: 20px;
    width: 40px;
    height: 40px;
    opacity: 0.5;   
}

.button-close {
    display: none;
}

.button-open {
    display: block;
}






