.header {
    width: 100%;
    border-bottom: solid 1px rgb(195, 195, 195);
    box-shadow: 10px 2px 7px rgb(191, 191, 191);
    background-color: rgb(228, 227, 232);
}
.header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-icon-container {
    padding: 10px 0px 10px 60px;
}

.header-logo-icon {
    height: 55px;
    width: 145px;

}

.header-settings {
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
    color: rgb(121, 121, 121);
   
    .header-settings-toggle {
      position: relative;
      width: 40px;
      height: 22px;
      -webkit-appearance: none;
      outline: none;
      background: #c6c6c6;
      border-radius: 20px;
      transition: .5s;
      box-shadow: inset 0 0 5px rgba(0,0,0,.2);
      
    }
    
    .header-settings-toggle:checked {
      background: #4a4a4a
    }
    
    .header-settings-toggle:before {
      content: 'RU';
      color:#858685;
      padding-left: 3px;
      font-size: 10px;
      line-height: 2.3;
      position: absolute;
      width: 20px;
      height: 21px;
      border-radius: 20px;
      top: 0;
      left: 0;
      background: #efecec;
      transition: .5s;
      transform: scale(1.1);
      box-shadow: 0 2px 5px rgba(0,0,0,.2);
    }
    
    .header-settings-toggle:checked:before {
      position: absolute;
      content: 'EN';
      top: 0;
      left: 20px;
      color:#858685;
      font-size: 10px;
      line-height: 2.2;
      padding-left: 3px;
      border-radius: 20px;
    }
    a {
      margin-right: 20px;
        line-height: 1.5;
    }
    a:hover {
        text-decoration: underline;
    }
}

