
.wrapper__form {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    flex-grow: 2;
    
}

.form__history {
    display: flex;
    margin: 15px;
}
.form__select {
    margin-top: 10px;
    align-self: flex-start;
}

.history-table__table-head { 
    th {
        color:rgb(84, 84, 84);
        font-size: 15px;
        font-weight: 700;
        padding: 8px 10px;
        background-color:  rgb(228, 227, 232); 
        border-bottom: 1.5px solid rgb(202, 202, 202);
    }
        
}

.history-table__table-body {
    td {
        color:rgb(65, 65, 65);
        text-align:start;
        font-size: 15px;
        padding: 8px 10px;
        border-bottom: 1px solid rgb(202, 202, 202);
    }
}



