.form__history {
    display: flex;
    margin: 15px;
}


.form__typeAverage {
    border: 1px solid rgb(172, 172, 172);
    border-radius: 4px;
    padding: 0 5px;
    height: 60px;
    align-self: end;
}

.form__typeAverage_description {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}
